* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#show-flight {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-right: 60rem;
}

#show-flight div:nth-child(even) {
  font-weight: bold;
}

.ticket-info {
  display: inline-block;
  margin: 10px; /* Adjust the margin as needed */
  padding: 10px;
  border: 1px solid #ccc;
}